<!--suppress ALL -->
<head th:replace="fragments/header :: head" xmlns:th="http://www.w3.org/1999/xhtml"></head>

<body>
<nav th:replace="fragments/nav_bar_admin :: navbar_admin" xmlns:th="http://www.w3.org/1999/xhtml"></nav>


<br>
<br>
<div class="container" >
    <div class="row">
        <div class="col-sm-4">

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Lista użytkowników</h5>

                    <p class="card-text">Lista wszystkich użytkowników systemu</p>
                    <!--suppress XmlUnboundNsPrefix -->
                    <a th:href="@{/admin/user}" class="card-link">Kliknij</a>

                </div>
            </div>

        </div>


        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Dodaj książke do bazy</h5>

                    <p class="card-text">Kliknij poniżej aby dodac ksiazke </p>
                    <br>
                    <a th:href="@{/admin/book}" class="card-link">Kliknij</a>

                </div>
            </div>

        </div>
        <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Lista książek</h5>

                <p class="card-text">Kliknij poniżej aby zobaczyć listę książek</p>
                <a th:href="@{/admin/book_list}" class="card-link">Kliknij</a>

            </div>
        </div>
    </div>
    </div>
    <br>
    <div class="row">

        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Historia wypożyczeń</h5>

                    <p class="card-text">Kliknij poniżej aby zobaczyć listę wypożyczeń wszystkich książek</p>
                    <a th:href="@{/admin/history}" class="card-link">Kliknij</a>

                </div>
            </div>
        </div>
    </div>
</div>





<div th:replace="fragments/footer :: footer " xmlns:th="http://www.w3.org/1999/xhtml"></div>

</body>
</html>