<!--suppress ALL -->
<head th:replace="fragments/header :: head" xmlns:th="http://www.w3.org/1999/xhtml"></head>

<body>
<nav th:replace="fragments/nav_bar_admin :: navbar_admin" xmlns:th="http://www.w3.org/1999/xhtml"></nav>


<br>
<br>
<table class="table table-bordered" style=" width: 70%;
  max-width: 70%;  margin: 0 auto;">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">E-Mail</th>
        <th scope="col">Data Stworzenia konta</th>
        <th scope="col">Czy aktywny</th>
        <th scope="col">Zmiana statusu</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="var,iterationStatus   : ${users_var}">
        <td th:text="${iterationStatus.count}" scope="row"></td>
        <td th:text="${var.first_name}"></td>
        <td th:text="${var.last_name}"></td>
        <td th:text="${var.email}"></td>
        <td th:text="${var.createDateTime}"></td>
        <td th:switch="${var.active}">
            <span th:case="'1'">Aktywny</span>
            <span th:case="'0'">Nieaktywny</span>
        </td>
        <td>
            <a href="" th:href="@{/admin/change_stat(id=${var.id})}">Zmień status</a>


        </td>
    </tr>

    </tbody>
</table>



<div th:replace="fragments/footer :: footer " xmlns:th="http://www.w3.org/1999/xhtml"></div>

</body>
</html>