<!--suppress ALL -->
<head th:replace="fragments/header :: head" xmlns:th="http://www.w3.org/1999/xhtml"></head>
<body>
<form th:action="@{/registration}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Rejestracja</button>
</form>


<div class="container py-3">
    <div class="row">
        <div class="mx-auto col-sm-6">
            <!-- form user info -->
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Logowanie</h4>
                </div>
                <div class="card-body">
                    <form class="form" role="form" autocomplete="off" action="#" th:action="@{/login}" th:object="${user}" method="post" >

                        <input type="text" id="email" name="email" th:placeholder="Email"
                               class="form-control"/> <br/>
                        <input type="password" th:placeholder="Hasło"
                               id="password" name="password" class="form-control"/> <br/>

                        <div align="center" th:if="${param.error}">
                            <p style="font-size: 20; color: #FF1C19;">Mail lub hasło jest niepoprawne , spróbuj ponownie</p>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                                th:text="Login"></button>
                </form>
            </div>
        </div>
        <!-- /form user info -->
    </div>
</div>
</div>













<div th:replace="fragments/footer :: footer " xmlns:th="http://www.w3.org/1999/xhtml"></div>

</body>
</html>